window#osd {
  border-radius: 0;
  border: 1px solid alpha(#ffffff, 0.33);
  background: alpha(#0f0f0f, 0.85);
}

window#osd #container {
  margin: 12px 16px;
}

window#osd image {
  color: #f5e0dc;
}

window#osd label {
  color: #cdd6f4;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 0;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #45475a;
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #cba6f7;
}

window#osd segment {
  margin-left: 8px;
}

window#osd segment:first-child {
  margin-left: 0;
}
